  <div class="top">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/threads">Threads</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  </div>

    <div class="container">
    A website for posting and discussing music production and engineering techniques.
    </div>
